body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/033/888/971/non_2x/man-with-backpack-walking-on-the-trail-in-the-jungle-at-night-male-hiker-walking-through-a-dense-dark-jungle-rear-view-full-body-ai-generated-free-photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Ruslan Display', cursive;
    font-size:x-large;
}


h1, h2, h3 {
    color: aliceblue;
}

.gameRule {
    display:list-item;
    color: white;
    text-align: left; 
    font-size: large;
    margin-left: 0;
}

#question {
    font-family: 'Ruslan Display', cursive;
}

p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;   
    text-align: center;
}


#reset {
    background-color: #d32f2f;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
}

#reset:hover {
    background-color: #a0e616d7;
}


.answers {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
  }
  
  
  .answerButton {
    background-color: greenyellow;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Ruslan Display', cursive;
    color: white;
    font-size: large;
  }

  .answerButton:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer; 
  }